doctype html
html
    head
        title Вариант 12

        meta(id="viewport" content="width=device-width, initial-scale=1.0" name="viewport")
        meta(charset="UTF-8")

        //Styles
        link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css")
        link(href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        link(href="/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css")
        //Плагин для прогрессбаров
        link(href="/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet" type="text/css")
        //Волны на кнопках
        link(href="/plugins/waves/waves.css" rel="stylesheet" type="text/css")

        //Уведомления
        link(href="/plugins/toaster/toaster.min.css" rel="stylesheet" type="text/css")

        //x-editable
        link(href="/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css")

        //switchery
        link(href="/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css")

        //tree
        link(href="/plugins/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css")

        //datetimepicker
        link(href="/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css")

        //Theme styles
        link(href="/css/modern.css" rel="stylesheet" type="text/css")
        link(href="/css/style.css" rel="stylesheet" type="text/css")
        link(href="/css/game-style.css" rel="stylesheet" type="text/css")


        body.page-header-fixed.compact-menu.page-horizontal-bar
            main.page-content.content-wrap
                block head
                div.page-inner(style="min-height:75px !important")
                    block body


            //Javascripts
            script(src="/plugins/jquery/jquery-2.2.0.min.js")
            script(src="/plugins/jquery-ui/jquery-ui.min.js")
            script(src="/plugins/jquery-blockui/jquery.blockui.js")
            script(src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
            script(src="/plugins/waypoints/jquery.waypoints.min.js")
            //script(src="/plugins/counterup/jquery.counterup.min.js")
            script(src="/plugins/bootstrap/js/bootstrap.min.js")
            script(src="/plugins/bootbox/bootbox.min.js")
            script(src="/plugins/classie/classie.js")
            script(src="/plugins/pace-master/pace.min.js")
            script(src="/plugins/waves/waves.min.js")
            script(src="/plugins/toaster/toaster.min.js")
            script(src="/plugins/uniform/jquery.uniform.min.js")
            script(src="/plugins/switchery/switchery.min.js")
            script(src="/plugins/jquery-mask/jquery.mask.min.js")
            script(src="/plugins/bootstrap3-editable/js/bootstrap-editable.min.js")
            //script(src="/plugins/uniform/jquery.uniform.min.js")
            script(src="/plugins/moment/moment.min.js")
            script(src="/plugins/moment/locale/ru.js")
            script(src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")

            //script(src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")
            //script(src="/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js")

            script(src="/plugins/chartsjs/Chart.min.js")
            script(src="/plugins/jstree/jstree.min.js")
            script(src="/js/modern.js")
            script(src="/js/all_pages.js")
            script(src="/js/common_scripts.js")

            block footer

