extends ../head

block body
    div#page-wrapper
        div#page-inner
            div.row
                div.col-md-10.col-md-offset-1
                    h3.page-header Вариант 12
            div.row
                div.col-md-10.col-md-offset-1
                    div.panel.panel-white
                        div.panel-body
                            p
                            | Склад. Товар. Поставщики. Потребители. Накладные на заказ товара у поставщика. 
                            | Накладные на отгрузку товара потребителям.
